@import "utils.scss";
$baseScreenWidth: calc(var(--vw, 1vw) * 100); // 기본 화면 너비
$baseScreenHeight: calc(var(--vh, 1vh) * 100); //기본 화면 높이

@mixin setFontSize($size : 1.6rem) {
    @include fontSize($size);

    @include fold {
        @include fontSize($size * .75);
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: Nanum Myeongjo;
    font-weight: 400;
}

body {
    background: linear-gradient(-45deg, #4a90e2, #da70d6, #ffc0cb, #40e0d0);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

        /* IE */
    select::-ms-expand { 
        display: none;
    }
    select {
        -o-appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    input::placeholder,textarea::placeholder{
        @include mobile {
            @include setFontSize(1.2rem);
        }
        color: #8e8e8e;
    }


    input:disabled {
        opacity: 0.6; 
        background-color: #eee; 
        cursor: not-allowed;
    }

    input[type='date']::before {
        content: attr(data-placeholder);
        @include mobile {
            @include setFontSize(1.2rem);
        }
        min-width: 100%;
        color: #8e8e8e;
    }
    input[type='date']:focus::before,
    input[type='date']:valid::before {
        display: none;
    }
    input[type='date']::-webkit-date-and-time-value{
        text-align: left;
    }
    
    @media (hover: hover) { //모바일 기기는 hover 제외
        input[type='date']:hover::before {
            display: none;
        }
    }

    #app {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $baseScreenWidth;
        height: $baseScreenHeight;

        #wrap {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            position: relative;
        }
    }
}