
@import "base.scss";

#app {
    #wrap {
        #dialog {
            width: calc(100% - 5vw);
            height: calc(100% - 5vw);
            border-radius: 3rem;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            position: relative;

            .index {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: white;
                z-index: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    @include mobile {
                        width: 50%;
                    }

                    @include desktop {
                        width: 30%;
                    }

                    height: auto;
                }

                button {
                    @include mobile {
                        width: 50%;
                    }

                    @include desktop {
                        width: 30%;
                    }

                    min-height: 5.2rem;
                    border: none;
                    background-color: #8954FE;
                    border-radius: 1.2rem;
                    @include setFontSize;
                    font-weight: 500;
                    margin-top: 100px;
                    color: white;
                    cursor: pointer;
                }
            }

            section {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;

                @include mobile {
                    .dialog-left-box {
                        display: none;
                    }

                    .dialog-right-box {
                        width: 100%;
                        height: 100%;
                        background-color: rgba(255, 255, 255, .2);

                    }
                }

                @include desktop {
                    article {
                        width: 50%;
                        height: 100%;
                    }

                    .dialog-left-box {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: rgba(255, 255, 255, .2);

                        h2 {
                            margin-top: 13vw;
                            color: white;
                            @include setFontSize(4.16rem);
                            font-weight: 800;
                        }
                    }

                    .dialog-right-box {
                        background-color: white;
                    }
                }


                .dialog-right-box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    overflow-y: auto;

                    h2 {
                        margin-top: 3rem;
                        @include setFontSize(2.4rem);
                        font-weight: 800;
                    }

                    .dialog-right-box-input-wrap {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .input-wrap-item {
                            width: calc(100% - 7.6vw);

                            p {
                                @include setFontSize;
                                font-weight: 500;
                            }

                            input[type="text"],
                            input[type="password"] {
                                width: calc(100% - 10px);
                                margin-top: 10px;
                                height: 6rem;
                                border: 1px solid #707070;
                                border-radius: .6rem;
                                background-color: transparent;
                                @include setFontSize;
                                padding-left: 5px;
                                padding-right: 5px;
                            }
                        }

                        .input-wrap-item:nth-child(1) input {
                            margin-bottom: 50px;
                        }
                    }

                    .dialog-right-box-chk-box-wrap {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        justify-content: center;

                        input[type="checkbox"] {
                            height: 100%;
                            aspect-ratio: 1/1;
                            margin-right: 8px;
                            background-color: transparent;
                        }

                        label {
                            @include setFontSize;
                            font-weight: 500;
                        }
                    }

                    #loginBtn {
                        width: calc(100% - 7.6vw);
                        min-height: 5.2rem;
                        border: none;
                        background-color: #8954FE;
                        border-radius: 1.2rem;
                        @include setFontSize;
                        font-weight: 500;
                        color: white;
                        cursor: pointer;
                    }

                    .dialog-right-box-sub-wrap {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 3rem;

                        p {
                            @include setFontSize;
                            font-weight: 500;

                            b {
                                @include setFontSize;
                                font-weight: 500;
                                color: #8B57FE;
                                cursor: pointer;
                                margin-left: 5px;
                            }
                        }

                        p:nth-child(1) {
                            margin-bottom: 25px;
                            text-align: center;
                        }
                    }
                }
            }
        }

        #signDialog {
            width: calc(100% - 5vw);
            height: calc(100% - 5vw);
            border-radius: 3rem;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            z-index: 2;

            section {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: right;

                article {
                    position: relative;
                    width: 50%;

                    @include mobile {
                        width: 100%;
                    }

                    height: 100%;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    overflow-y: auto;

                    h2 {
                        margin-top: 3rem;
                        @include setFontSize(2.4rem);
                        font-weight: 800;
                    }

                    .sign-dialog-input-wrap {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .input-wrap-item {
                            position: relative;
                            width: calc(100% - 7.6vw);
                            margin-bottom: 10px;

                            p {
                                @include setFontSize;
                                font-weight: 500;
                            }

                            input[type="text"],
                            input[type="password"] {
                                width: calc(100% - 10px);
                                margin-top: 10px;
                                height: 5rem;
                                border: 1px solid #707070;
                                border-radius: .6rem;
                                background-color: transparent;
                                @include setFontSize;
                                padding-left: 5px;
                                padding-right: 5px;
                            }

                            #inputSignId,
                            #inputSignNick {
                                width: calc(100% - 20px - 30%);
                            }

                            button {
                                position: absolute;
                                height: 5rem;
                                bottom: 0px;
                                right: 0;
                                width: 30%;
                                border-radius: .6rem;
                                background-color: #8954FE;
                                border: 1px solid #8954FE;
                                color: white;
                                cursor: pointer;
                                box-sizing: content-box;
                                @include setFontSize;
                            }
                        }

                        .input-wrap-item:nth-child(4) {
                            margin-bottom: 0px;
                        }
                    }

                    .sign-dialog-chk-box-wrap {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;


                        .sign-dialog-chk-box-item {
                            display: flex;
                            align-items: center;

                            input[type="checkbox"] {
                                height: 100%;
                                aspect-ratio: 1/1;
                                background-color: transparent;
                                margin-right: 8px;
                            }

                            label {
                                @include setFontSize;
                                font-weight: 500;
                                margin-right: 8px;
                                white-space: nowrap;
                            }

                            button {
                                @include setFontSize(1.4rem);
                                height: 100%;
                                white-space: nowrap;
                                background-color: #8954FE;
                                border: 1px solid #8954FE;
                                border-radius: .6rem;
                                color: white;
                                padding: 0 5px;
                                cursor: pointer;
                            }
                        }

                        .sign-dialog-chk-box-item:nth-child(1) {
                            margin-bottom: 10px;
                        }

                    }

                    #signBtn {
                        width: calc(100% - 7.6vw);
                        min-height: 5.2rem;
                        border: none;
                        background-color: #8954FE;
                        border-radius: 1.2rem;
                        @include setFontSize;
                        font-weight: 500;
                        color: white;
                        cursor: pointer;
                        margin-bottom: 3rem;
                    }

                    #signDialogCancel {
                        position: absolute;
                        right: 20px;
                        top: 20px;
                        width: 30px;
                        height: 30px;
                        cursor: pointer;

                        p {
                            width: 1px;
                            height: 30px;
                            background-color: #000;
                            position: absolute;
                            right: 15px;
                        }

                        p:nth-child(1) {
                            transform: rotate(45deg);
                        }

                        p:nth-child(2) {
                            transform: rotate(135deg);
                        }
                    }
                }
            }
        }
    }
}