

@font-face {
    font-family: 'SUIT';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');


@mixin fontSize($size) {
    font-size:  $size;
}

@mixin mobile {
    @media only screen and (max-width : 800px) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width : 801px) {
        @content;
    }
}

@mixin desktop_950_under {
    @media only screen and (max-width : 950px) {
        @content;
    }
}

@mixin desktop_1400_under {
    @media only screen and (max-width : 1400px) {
        @content;
    }
}

@mixin desktop_1400_over {
    @media only screen and (min-width : 1401px) {
        @content;
    }
}


@mixin fold {
    @media only screen and (max-width : 300px) {
        @content;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.scroll-none{
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
.scroll-none::-webkit-scrollbar {
    display: none;
}